<?xml version="1.0"?>
<ruleset name="WordPress Plugin Coding Standards">
	<description>A custom set of code standard rules for the Freemius plugin.</description>

	<!-- What to scan -->
	<file>.</file>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/build/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/>
	<arg name="basepath" value="./"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="ignore_warnings_on_exit" value="1"/>

	<!-- PHP version range for PHPCompatibilityWP (align with plugin header). -->
	<config name="testVersion" value="7.4-"/>

	<!-- Rules: WordPress Coding Standards -->
	<config name="minimum_supported_wp_version" value="6.6"/>
	<rule ref="WordPress">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
		<exclude name="Squiz.Commenting.InlineComment.InvalidEndChar"/>
		<exclude name="Squiz.Commenting.FileComment.Missing"/>
	</rule>

	<!-- Allow tabs for indentation -->
	<rule ref="Generic.WhiteSpace.DisallowSpaceIndent"/>
	<rule ref="Generic.WhiteSpace.ScopeIndent">
		<properties>
			<property name="indent" value="4"/>
			<property name="tabIndent" value="true"/>
		</properties>
	</rule>

	<rule ref="WordPress.Security"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="freemius"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.DeprecatedFunctions"/>
	<rule ref="WordPress.Security.SafeRedirect"/>

	<!-- PHP / WordPress runtime compatibility sniffs (Composer: phpcompatibility/phpcompatibility-wp). -->
	<rule ref="PHPCompatibilityWP"/>
</ruleset>
