.wp-block-freemius-modifier {
	display: flex;
	gap: 0.5em;

	&.is-style-link {
	}

	a {
		cursor: pointer;
		text-decoration: none;
		opacity: 0.5;
		&.is-active {
			text-decoration: underline;
			opacity: 1;
		}
	}
}

[data-freemius-scope] {
	outline: 2px solid #ff5353;
	outline-offset: 2px;
}
